<app-header></app-header>


<div class="container">
  <h1>
    Welcome to {{title}}! H1
  </h1>

  <h2>
    Welcome to {{title}}! H2
  </h2>

  <h3>
    Welcome to {{title}}! H3
  </h3>

  <h4>
    Welcome to {{title}}! H4
  </h4>

  <a>
    Welcome to {{title}}! LINK
  </a>

  <p>
    Welcome to {{title}}! paragraf
  </p>


  <button class='btn'>
    Welcome to {{title}}! button
  </button>

  <button class='btn btn--violet'>
    Welcome to {{title}}! button
  </button>

</div>

<app-footer></app-footer>
