<header class="header">
  <div class="container">

    <div class="header__wrapper">
      <div class="header__logo">
        <p>{{title}}</p>
      </div>

      <div class="header__menu">

        <div class="header__user-account">

          <button class="btn btn--small btn--light">
            {{login}}
          </button>
          <button class="btn btn--small btn--border">
            {{register}}
          </button>
        </div>

        <div class="header__nav">
          <nav>
            <button class="btn-nav">
              <span class="btn-nav__line"></span>
              <span class="btn-nav__line"></span>
              <span class="btn-nav__line"></span>
            </button>

          </nav>
        </div>
      </div>
    </div>
  </div>
</header>
