<footer class="footer">
  <div class="container">

    <div class="footer__wrapper">

      <div class="footer__col">
        <h3 class="footer__title">
          {{title}}
        </h3>

        <ul class="footer_list">
          <li>
            <a href="#"> O nas </a>
          </li>
          <li>
            <a href="#"> Regulamin </a>
          </li>
          <li>
            <a href="#"> Praca </a>
          </li>
          <li>
            <a href="#"> Kontakt </a>
          </li>
        </ul>
      </div>

      <div class="footer__col">
        <h3 class="footer__title">
          {{col2}}
        </h3>

        <ul class="footer_list">
          <li>
            <a href="#"> O nas </a>
          </li>
          <li>
            <a href="#"> Regulamin </a>
          </li>
          <li>
            <a href="#"> Praca </a>
          </li>
          <li>
            <a href="#"> Kontakt </a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h3 class="footer__title">
          {{col3}}
        </h3>

        <ul class="footer_list">
          <li>
            <a href="#"> O nas </a>
          </li>
          <li>
            <a href="#"> Regulamin </a>
          </li>
          <li>
            <a href="#"> Praca </a>
          </li>
          <li>
            <a href="#"> Kontakt </a>
          </li>
        </ul>
      </div>
      <div class="footer__col">
        <h3 class="footer__title">
          {{newsletter}}
        </h3>

        <label for="newsletter">{{newsletterSignIn}}</label>

        <input id='newsletter' type="text" />
        <input type='submit' class="btn--small" />
      </div>
    </div>

    <div class="footer__social-links">
      <ul>
        <li>
          fb
        </li>
        <li>
          ins
        </li>
        <li>
          twi
        </li>
        <li>
          mail
        </li>
      </ul>
    </div>
  </div>
</footer>
